<section class="background-color-grey">
  <div class="inner-content-top-out-bottom-out">
    <div class="container">
      <h2 class="text-center">Trabalhos Recentes</h2>
      <div class="row">
        <div class="news-press-section">
          {% for p in site.pages %} {% for gallery in p.galleries %}
          <a href="{{ gallery.name }}" title="{{ gallery.name }}">
            <img
              src="thumbs/{{ gallery.name }}"
              alt="{{ gallery.name }}"
              title="{{ gallery.name }}"
            />
            <span>{{ filename }}</span>
          </a>
          {% endfor %} {% endfor %} {% for post in site.posts limit:4 %}

          <div class="press-news-container">
            <div class="col-md-6">
              <ul class="list-unstyled list-news">
                <li>
                  <div class="row">
                    <div class="col-sm-9">
                      <img class="pull-left" src="holder.js/410x200" />

                      <div class="row">
                        <div class="col-xs-8 col-sm-6">
                          <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                        </div>
                        <div class="col-xs-4 col-sm-6">
                          <p>
                            {{ post.content}}
                          </p>
                          <small>{{ date"Mon, Jan 2, 2006" }}</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
