<section class="background-color-grey">
  <div class="inner-content-top-out-bottom-out">
    <div class="container">
      <h2 class="text-center">Trabalhos Recentes</h2>
      <div class="row">
        <div class="news-press-section">
          {% for p in site.pages %} {% for gallery in p.galleries limit:4 %}
          <a href="{{ site.baseurl }}/photos/{{ gallery['gallery'] }}">
            <img
              alt="{{ gallery['name'] }}"
              src="/photos/{{ gallery['gallery'] }}/thumbs/{{ gallery['best_image'] }}"
            />
            <span>{{ filename }}</span>
          </a>
          <h3><a href="{{ gallery['gallery'] }}">{{ gallery["name"] }}</a></h3>
          {{ gallery["images"] | size }} images {% endfor %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
