---
layout: default
---

<section class="background-color-grey">
  <div class="inner-content-top-out-bottom-out">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading"><h4>{{page.title}}</h4></div>
            <div class="panel-body">
              <div class="list-group">
                {% for image in page.post-images %}
                <div class="col-6 image-gallery">
                  <a
                    href="{{ image }}"
                    title="{{ image.name }}"
                    class="d-block mb-4 h-100"
                  >
                    <img
                      class="img-fluid img-thumbnail img-responsive"
                      src="{{ image }}"
                      alt="{{ image }}"
                      title="{{ image }}"
                    />
                  </a>
                </div>
                {% endfor %}
              </div>
              <hr />

              <div class="content">
                <div class="row">
                  {{ page.body }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
